{% extends "@app/modules/layouts/main.twig" %}
{% block content %}

<div class="portlet box purple ">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> {{title}}
		</div>
		<div class="tools">
			<a href="" class="collapse" data-original-title="" title="">
			</a>
			<!-- <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
			</a>
			<a href="" class="reload" data-original-title="" title="">
			</a> -->
			<a href="" class="remove" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" method="POST">
		<input type="hidden" id="id" name="id" value="{{rules.id}}" />
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">角色名称</label>
					<div class="col-md-9">
						<input type="text" id="ruleName" name="ruleName" class="form-control input-lg" value="{{rules.rule_name}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">拥有权限</label>
					<div class="col-md-9">
						{% for permissions in permissionsList %}
						<input type="checkbox" name="rulePermissions[]" class="form-control input-lg" value="{{permissions['id']}}"
						  {% for rulePermissions in rulePermissionsList %}
    						  {% if rulePermissions == permissions['permissions_num'] %}
    						      checked
    						  {% endif %}
    						{% endfor %}

						>{{permissions['permissions_name']}}

						{% endfor %}
					</div>
				</div>
			</div>
			<div class="form-actions right1">
				<!-- <button type="button" class="btn default">Cancel</button> -->
				<button type="submit" class="btn green">提交</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}