{% extends "@app/modules/layouts/main.twig" %}
{% block title_name  %}会员管理{% endblock %}
{% block title_info  %}会员管理{% endblock %}
{% block content %}
<div class="col-md-12"  >
	<a href="/users/user/setpasswd?uid={{ userBase.uid }}"  data-uid="{{ userBase.uid }}" id="add" class="btn btn-sm red"> 重设密码 <i class="fa fa-plus"></i></a>
	<a href="/users/user/edit?uid={{ userBase.uid }}" id="amend"  data-uid="{{ userBase.uid }}" class="btn btn-sm green"> 资料编辑 <i class="fa fa-edit"></i></a>
	<a href="/users/user/authentication?uid={{ userBase.uid }}"  data-uid="{{ userBase.uid }}" id="area" class="btn btn-sm red"> 认证 <i class="fa fa-edit"></i></a>
	<a href="/users/user/photomanage?uid={{ userBase.uid }}"  data-uid="{{ userBase.uid }}" id="recharge" class="btn btn-sm blue">照片管理<i class="fa fa-file-o"></i></a>
	<a href="/users/user/videomanage?uid={{ userBase.uid }}"  data-uid="{{ userBase.uid }}" id="chongzhi" class="btn btn-sm purple">视频管理<i class="fa fa-user"></i></a>
	<a href="javascript:;" id="redpack"  data-uid="{{ userBase.uid }}" class="btn btn-sm green unfrozen"> 解冻 <i class="fa fa-font"></i></a>
	<a href="javascript:;" id="redpack"   data-uid="{{ userBase.uid }}"class="btn btn-sm red frozen"> 冻结 <i class="fa fa-font"></i></a>
	<a href="javascript:;" id="taskpack"  data-uid="{{ userBase.uid }}" class="btn btn-sm red blacklist">拉黑 <i class="fa fa-font"></i></a>
{# 	<a href="javascript:;" class="btn btn-sm default" id="erweima">二维码分享 <i class="fa fa-user"></i></a>#}
{# 	<a href="javascript:;" id="delete" class="btn btn-sm purple">删除 <i class="fa fa-times"></i></a>#}
{# 	<a href="javascript:;" id="totop" class="btn btn-sm blue">置顶<i class="fa fa-arrow-up"></i></a>#}

</div>
<br>
<div class="col-md-10"  >
	<div class="portlet blue-hoki box">	
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-cogs"></i>个人详细信息
			</div>
{#             <div class="actions">#}
{# 			<a href="/index.php/trade/baddebt/edituser?id={{userBase.id}}" class="btn btn-default btn-sm">#}
{# 				<i class="fa fa-pencil"></i> 信息修改 </a>#}
{# 		    </div>#}
{# 		    <div class="actions">#}
{# 			<a href="/index.php/trade/baddebt/status?id={{userBase.id}}" class="btn btn-default btn-sm">#}
{# 				 <i class="fa"></i>禁用</a>#}
{# 		    </div>#}
		</div>
		<div class="portlet-body">
    			<div class="row static-info col-md-4    ">
    				   {% if userBase.face=="" %}
                                <img  class="my-top-avatar-img" src="{{app.request.hostInfo}}/CDN/img/avatar.png" alt="" style="width: 80px; height:80px;">
                            {% endif %}
                            {% if userBase.face!="" %}
                                {% if userBase.face starts with 'http://' %}
                                    <img class="img-circle img-sm my-top-avatar-img" src="{{userBase.avatar}}" alt="头像"  style="width: 80px; height:80px;">
                                {% endif %}
                                {% if not (userBase.face starts with 'http://') %}
                                    <img class="my-top-avatar-img" src="{{app.request.hostInfo}}/img/upload/{{userBase.face}}" alt="">
                                {% endif %}
                            {% endif %}</a>
    			</div>
			<div class="row static-info col-md-4">
				昵称：{{userBase.nickname}}
			</div>
			<div class="row static-info col-md-4">
				用户ID：{{userBase.uid}}
			</div>
			<div class="row static-info col-md-4">
				状态：{{user.ban_expiretime>0? ('黑名单被禁时间：'.user.ban_expiretime):'正常'}}
			</div>
			<div class="row static-info col-md-4">
				手机号：{{user.mobile}}
			</div>
			<div class="row static-info col-md-4">
				平台：{{user.platform}} -> {{user.name}}
			</div>
			<div class="row static-info col-md-4">
				OpenID：{{user.openid}}
			</div>
			<div class="row static-info col-md-4">
				注册时间：{{user.createtime|date('Y-m-d H:i:s')}}
			</div>
			<div class="row static-info col-md-4">
				最后登录时间：{{userExtend.updatetime|date('Y-m-d H:i:s')}}
			</div>
			<div class="row static-info col-md-4">
				登录次数：{{user.createtime|date('Y-m-d H:i:s')}}
			</div>
			<div class="row static-info col-md-4">
				vip有效期：{{userExtend.vip_expiretime|date('Y-m-d H:i:s')}}
			</div>
			<div class="row static-info col-md-4">
				性别:
                    {% if userBase.sex==1 %}
                                                         男
                    {% elseif userBase.sex==0 %}
                                                        女
                    {% else %}
                                                        保密
                    {% endif %}
			</div>
			<div class="row static-info col-md-4">
				地址：{{userExtend.loc_address}}
			</div>
			<div class="row static-info col-md-4">
				黑名单截止时间：{{user.ban_expiretime|date('Y-m-d H:i:s')}}
			</div>
			<div class="row static-info col-md-4">
				财富值：{{userWealth.wealth}}
			</div>
			<div class="row static-info col-md-4">
				身份：{{ userExtend.live_signed==1?('签约鱼侠' ~ (userExtend.live_sign_time|date('Y-m-d H:i:s') )):'普通用户' }}
			</div>
			<div class="row static-info col-md-4">
				实名认证：{{ userExtend.real_certification==1? '已认证'  :'未认证' }}
			</div>
			<div class="row static-info col-md-4">
				账户余额：{{userWealth.gold}}
			</div>
			<div class="row static-info col-md-4">
				收入余额：{{userWealth.diamond}} 金币
			</div>
			<div class="row static-info col-md-4">
				收入累计：{{userWealth.gift_income}} 钻石
				<a class="btn btn-success" target="_blank" href="/pay/income/giftlist?touid={{ userBase.uid  }}">查看获赠记录</a>
			</div>
			<div class="row static-info col-md-4">
				赠送累计：{{userWealth.gold_outlay}} 金币
				<a class="btn btn-success" target="_blank" href="/pay/income/giftlist?fromuid={{ userBase.uid  }}">查看赠送记录</a>
			</div>
			<div class="row static-info col-md-4">
				魅力值：{{userWealth.charm}}
			</div>
			<div class="row static-info col-md-4">
				财富值：{{userWealth.wealth}}
			</div>			
			<div class="row static-info col-md-4  ">
					类型:
    				   {{type}}
    			</div>	
		<div class="row static-info ">
		<a class="btn btn-success" target="_blank" href="/pay/income/list?uid={{ userBase.uid  }}">查看充值记录</a>
			<div class="row static-info col-md-12">
				<h4>提现记录：</h4>
				 <div>
				 提现账户：{{ userAli.realname }}  支付宝：{{ userAli.account }}
				 </div>
				{% for item in userExchange %}
					<div class="row static-info col-md-12">
						{{ item.money  }} 元， 
						{{ item.diamond  }}  钻石，
						{{ item.createtime|date('Y-m-d H:i:s')  }}  
					</div>	
				{% endfor %}			
			</div>
        			
		<div class="col-md-12  ">
        		<div class="col-md-5 portlet   box">
				<div class="portlet blue-hoki box portlet-title caption"><h4>礼物赠送记录：</h4></div>
				{% for gift in userGift %}
					<div class="row static-info col-md-12">					
        					<div class="col-md-2">
						{{ gift.userInfo.nickname  }}
						</div>
        					<div class="col-md-3"> 
						赠送：{{ app.params.cdb.GiftItem[gift.itemid].name }}x{{ gift.num  }}
						</div>
        					<div class="col-md-3"> 
{# 						{{ gift.price  }} 元， #}
						{{ gift.diamond  }}  钻石
						</div>
        					<div class="col-md-4"> 
						{{ gift.time|date('Y-m-d H:i:s')  }}  
						</div>
					</div>	
				{% endfor %}			
				<a class="btn btn-success" target="_blank" href="/pay/income/giftlist?touid={{ userBase.uid  }}">查看全部记录</a>
        		</div>
        		
        			
        		<div class="col-md-5 portlet   box">
        			<div class="portlet blue-hoki box portlet-title caption"><h4>礼物赠送累计排名：</h4></div>
				{% for gift in userGiftRank %}
					<div class="row static-info col-md-6">
						{{ loop.index  }}. 
						{{ gift.userInfo.nickname  }} ，
					</div>	
					<div class="row static-info col-md-6">
						{{ gift.sum  }}  钻石，
{# 						{{ gift.time|date('Y-m-d H:i:s')  }}  #}
					</div>	
				{% endfor %}		
				<a class="btn btn-success" target="_blank" href="/pay/income/giftrank?uid={{ userBase.uid  }}">查看全部排名</a>        		
        		</div>		
		</div>
		
		</div>
	</div>
</div>
{% endblock %}

{% block footerJs %}
<script type="text/javascript">

$(".unfrozen").click(function(){
	var uid = $(this).attr("data-uid");
	var url = "/live/online/unfrozen";
	$.post( url, { uid: uid }, function( data ) {
  		console.log( data ); 
  		alert('解除 操作成功！');
	}, "json");
});

$(".frozen").click(function(){
	var uid = $(this).attr("data-uid");
	var url = "/live/online/frozen";
	$.post( url, { uid: uid }, function( data ) {
  		console.log( data ); 
  		alert(' 冻结24小时 操作成功！');
	}, "json");
});

$(".blacklist").click(function(){
	var uid = $(this).attr("data-uid");
	var url = "/live/online/blacklist";
	$.post( url, { uid: uid }, function( data ) {
  		console.log( data ); 
  		alert('加入黑名单 操作成功！');
	}, "json");
});

</script>
{% endblock %}